{% load url from future %}{% load staticfiles %}{% load rest_framework %}{% load pipeline %}<!DOCTYPE html>
<html>
    <head>
        {% block head %}
    
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="robots" content="NONE,NOARCHIVE" />
            {% endblock %}
    
            <title>{% block title %}VT API Browser{% endblock %}</title>
    
            {% block style %}
                {% block bootstrap_theme %}
                    {% stylesheet "bootstrap" %}
                    {% stylesheet "bootstrap-tweaks" %}
                {% endblock %}
                {% stylesheet "prettify" %}
                {% stylesheet "default" %}
            {% endblock %}
            
        {% endblock %}
    </head>

    {% block body %}
    <body class="{% block bodyclass %}{% endblock %} container">

        <div class="wrapper">

            {% block navbar %}
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <span>
                                {% block branding %}
                                    <a class='brand' rel="nofollow" href='#'>
                                        VT API Browser 
                                    </a>
                                {% endblock %}
                            </span>
                            <div class="nav-collapse collapse">
                                <ul class="nav navbar-nav">
                                    {% for k, v in menus.items %}
                                    <li class="{% if v.active %}active{% endif %}">
                                        <a href="{% url k %}">{{ v.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <!-- Content -->
            <div id="content">

                <br/>
                <br/>
                <br/>
                <div class="page-header">
                    <h1>VT API</h1>
                    <hr>
                    <p>The VT REST API allows you to query resources from Cassandra database including; tickets, attachments, and comments. You can also do some fancy things like test endpoints with using builtin HTML forms and receive supported formats.</p>
                    <p>Since the API is based on REST principles, it's very easy to write and test applications. You can use your browser to access URLs, and you can use pretty much any HTTP client in any programming language to interact with the API.</p>
                    <hr>
                    <h2>Base URL</h2>
                    <p>All URLs referenced in the documentation have the following base:</p>
                    <pre class="prettyprint lang-py"><code>http://{{groupware_domain}}/helpdesk/api</code></pre>
                    <p>VT REST API is served over HTTPS in production servers (except development servers like <code>vietnam.hanbiro.net</code>).</p>
                    <hr>
                    <h2>Resources</h2>
                    <p>VT API has the following subresources. Click on a link to read the API documentation for accessing or modifying each resource.</p>

                    <h3>Endpoints</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Method</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>/users</td>
                                <td>GET</td>
                                <td>Returns list of all users</td>
                            </tr>
                            <tr>
                                <td>/users</td>
                                <td>POST</td>
                                <td>Creates user</td>
                            </tr>
                            <tr>
                                <td>/users/{user_phone_number}</td>
                                <td>DELETE</td>
                                <td>Deletes user by requested user phone number (user must be a real phone number owner)</td>
                            </tr>
                            <tr>
                                <td>/comments/latest</td>
                                <td>GET</td>
                                <td>Get latest 10 comments from database</td>
                            </tr>
                            <tr>
                                <td>/search/?q={search_query}</td>
                                <td>GET</td>
                                <td>Searches database and returns result if found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>Permissions</h2>
                <h3>User</h3>
                <ol>
                    <li>User can be deleted only by a phone number owner or admin.</li>
                    <li><code>user_phone_number</code> is read only attribute.</li>
                </ol>

                <br/>
                <br/>

                <h2>Available formats</h2>
                <ol>
                  <li>JSON</li>
                  <li>XML</li>
                  <li>YAML</li>
                </ol>

            <!-- END Content -->
            
            <footer>
                {% block footer %}
                    <p>Developed by <strong>muminoff</strong></p>
                {% endblock %}
            </footer>

        </div><!-- ./wrapper -->

        {% block script %}
            {% javascript "jquery" %}
            {% javascript "bootstrap" %}
            {% javascript "prettify" %}
            {% javascript "default" %}
        {% endblock %}
    </body>
    {% endblock %}
</html>
